# Python virtualenv
.venv
venv
env

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*.pyo
*.pyd

# Tests
tests/
pytest.ini
.pytest_cache/
.coverage
htmlcov/

# Dev tools
.ruff_cache/
.mypy_cache/

# Secrets
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docs
*.md

# OS
.DS_Store
Thumbs.db
